@tailwind base;
@tailwind components;
@tailwind utilities;

.html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-100;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.slick-slide > div {
  margin: 0 20px;
}

/* section SEO */

.text-h2 {
  @apply text-2xl  uppercase text-background-color font-bebas mb-3 tablet:text-2xl font-normal mobile:text-sm;
}

.text-p {
  @apply text-background-color font-roboto tablet:text-sm font-normal mobile:text-xs;
}

.li {
  @apply flex-1 min-h-[200px]  p-4 relative;
}

.btn_rozwin {
  @apply text-background-color flex gap-2 items-center cursor-pointer  pt-4;
}

.btn_zadzwon {
  @apply bg-logo-color text-background-color  font-roboto_flex p-3 rounded-lg w-48 transition duration-300 ease-in-out transform hover:bg-blue-800 hover:scale-105;
}

.link {
  @apply text-lg mx-4 hover:text-logo-color text-text-color transition duration-300 ease-in-out transform font-roboto;
}

/* End of section SEO */
